<ion-card>
  <ion-card-header>
    <ion-card-title>Leggyakrabban vásárolt termékek</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="wordcloud-container">
      <div *ngIf="!isLoading && wordCloudData.length > 0" class="wordcloud-items">
        <span *ngFor="let item of wordCloudData" class="wordcloud-item">
          {{ item.text }}
        </span>
      </div>
      <div *ngIf="!isLoading && wordCloudData.length === 0" class="no-data">
        Nincs megjeleníthető adat a megadott szűrőkre.
      </div>
      <ion-spinner *ngIf="isLoading" class="loading-spinner"></ion-spinner>
    </div>
  </ion-card-content>
</ion-card> 