<ion-card [color]="color">
  <ion-card-header>
    <ion-card-title><span style="color: white">{{ title }}</span></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="!isLoading && value !== null" class="kpi-value">
      {{ value | number:'1.0-0' }}{{ unit ? ' ' + unit : '' }}
    </div>
    <div *ngIf="!isLoading && value === null" class="no-data">
      Nincs adat
    </div>
    <ion-spinner *ngIf="isLoading" class="loading-spinner"></ion-spinner>
  </ion-card-content>
</ion-card>
